body {
  font-family: "Roboto", sans-serif;
  font-size: small;
  margin: 0;
}

.menu {
  background-color: burlywood;
  width: 350px;
  padding: 20px;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  height: 100vh;
  flex-direction: column;
}

.button {
  font-size: 20px;
  padding: 2px;
  margin: 10px;
}

.lista {
  text-decoration: none;
  list-style: none;
}
